tensorboardX
matplotlib
torch==1.2
cmake>=3.13.2
plyfile
pyyaml
scipy
torchvision==0.4.0
imageio
easydict
h5py
ipykernel
pillow<7
trimesh
tqdm
opencv-python
trimesh>=2.35.39,<2.35.40
networkx>=2.2,<2.3